@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700");
/* line 25, ../sass/screen.scss */
a.trace {
  color: #2594E8;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 32, ../sass/screen.scss */
a.trace:before {
  content: "— ";
}
/* line 36, ../sass/screen.scss */
a.trace:hover {
  text-decoration: none;
  color: #F28367;
}

/* line 3, ../sass/home.scss */
html {
  height: 100%;
}

/* line 7, ../sass/home.scss */
body {
  background: linear-gradient(90deg, #29C0DA 0%, #38A9E5 100%);
  font-family: 'Raleway', sans-serif;
  color: #666666;
  height: 100%;
  overflow-x: hidden;
}

/* line 15, ../sass/home.scss */
.content {
  background: #fff !important;
  padding: 20px 40px;
  box-sizing: content-box;
  max-width: 1280px;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0 !important;
  border-radius: 4px;
}

/* line 30, ../sass/home.scss */
.btn {
  border: none;
}
/* line 33, ../sass/home.scss */
.btn:active {
  border: none;
}
/* line 37, ../sass/home.scss */
.btn.btn-primary {
  background-color: #1CC9A7;
  padding-left: 30px;
  padding-right: 30px;
  height: 48px;
  line-height: 2.4;
  font-weight: 600;
}
/* line 45, ../sass/home.scss */
.btn.btn-primary:hover {
  background: #F28367;
}
/* line 50, ../sass/home.scss */
.btn.btn-big {
  height: 56px;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 3;
}

/* line 57, ../sass/home.scss */
.btn-rounded {
  border-radius: 28px;
  border: none;
}

/* line 63, ../sass/home.scss */
nav.navbar {
  padding: 0;
  margin: 32px auto 80px;
  height: 67px;
  box-sizing: content-box;
}
/* line 69, ../sass/home.scss */
nav.navbar .nav-link {
  font-size: 14px;
  color: white !important;
  letter-spacing: -0.3px;
}
/* line 75, ../sass/home.scss */
nav.navbar .nav-item {
  margin-left: 24px;
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  transition: all 0.3s;
}
/* line 80, ../sass/home.scss */
nav.navbar .nav-item.active {
  border-bottom: solid 2px #85CAFF;
}
/* line 83, ../sass/home.scss */
nav.navbar .nav-item:hover {
  border-bottom: solid 2px #F28367;
  transition: all 0.3s;
}
/* line 87, ../sass/home.scss */
nav.navbar .nav-item.no-border {
  border: none !important;
}
/* line 92, ../sass/home.scss */
nav.navbar .button-download {
  height: 40px;
  border-radius: 28px;
  background-color: #1CC9A7;
  box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.06);
  line-height: 2.1;
  width: 172px;
  text-align: center;
  margin-top: -3px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.3px;
}
/* line 105, ../sass/home.scss */
nav.navbar .button-download:hover {
  background: #F28367;
}
/* line 108, ../sass/home.scss */
nav.navbar .button-download:active {
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.06);
}
/* line 114, ../sass/home.scss */
nav.navbar.navbar-sticky {
  position: fixed;
  top: -300px;
  transition: all 0.5s ease;
  left: 0;
  width: 100%;
  background: #233647;
  z-index: 999;
  display: flex;
  margin: 0;
  padding: 0 48px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  opacity: 0;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
}
/* line 132, ../sass/home.scss */
nav.navbar.navbar-sticky .navbar-brand img {
  width: 100px;
}
/* line 136, ../sass/home.scss */
nav.navbar.navbar-sticky .navbar-nav {
  margin-top: 3px;
}
@media (max-width: 960px) {
  /* line 141, ../sass/home.scss */
  nav.navbar.navbar-sticky .navbar-toggler {
    left: 16px;
  }
}
/* line 147, ../sass/home.scss */
nav.navbar.navbar-sticky.navbar-show {
  position: fixed;
  display: flex;
  top: 0;
  transition: all 0.5s ease;
  opacity: 1;
}
@media (max-width: 960px) {
  /* line 63, ../sass/home.scss */
  nav.navbar {
    display: none;
    margin-bottom: 32px;
    margin-top: 8px;
    position: relative;
  }
  /* line 161, ../sass/home.scss */
  nav.navbar.navbar.navbar-sticky {
    top: 0;
    opacity: 1;
    background: transparent;
    box-shadow: 0 0 0 transparent;
  }
  /* line 167, ../sass/home.scss */
  nav.navbar.navbar.navbar-sticky.navbar-show {
    background: #233647;
    position: fixed;
    top: 0;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
  }
  /* line 174, ../sass/home.scss */
  nav.navbar.navbar.navbar-sticky .navbar-collapse {
    background: #233647;
    width: 100%;
    position: absolute;
    top: 67px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
    padding-bottom: 24px;
  }
  /* line 182, ../sass/home.scss */
  nav.navbar.navbar.navbar-sticky .navbar-collapse .nav-item {
    margin: 8px 24px;
  }
  /* line 186, ../sass/home.scss */
  nav.navbar.navbar.navbar-sticky .navbar-collapse .button-download {
    width: 100%;
    font-size: 13px !important;
  }
  /* line 191, ../sass/home.scss */
  nav.navbar.navbar.navbar-sticky .navbar-collapse .nav-link {
    font-size: 16px;
  }
  /* line 197, ../sass/home.scss */
  nav.navbar .navbar-brand {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  /* line 203, ../sass/home.scss */
  nav.navbar .navbar-brand img {
    width: 100px;
  }
  /* line 207, ../sass/home.scss */
  nav.navbar .navbar-toggler {
    position: absolute;
  }
}
@media (max-width: 1140px) {
  /* line 213, ../sass/home.scss */
  nav.navbar .navbar-brand img {
    width: 120px;
  }
  /* line 217, ../sass/home.scss */
  nav.navbar .nav-link {
    padding-left: 0 !important;
  }
  /* line 221, ../sass/home.scss */
  nav.navbar a.button-download {
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: auto;
  }
}

/* line 230, ../sass/home.scss */
.hero {
  height: 100%;
  min-height: 600px;
  position: relative;
}
@media (min-width: 1140px) {
  /* line 230, ../sass/home.scss */
  .hero {
    max-height: 800px;
  }
}
/* line 239, ../sass/home.scss */
.hero .hero-content {
  margin-top: 24px;
}
@media (min-width: 1800px) {
  /* line 239, ../sass/home.scss */
  .hero .hero-content {
    margin-top: 4%;
  }
}
/* line 246, ../sass/home.scss */
.hero .hero-content h1 {
  color: #FFFFFF;
  font-size: 62px;
  font-weight: 200;
  letter-spacing: -2.21px;
  line-height: 73px;
  margin-bottom: 24px;
}
/* line 255, ../sass/home.scss */
.hero .hero-content p {
  font-size: 16px;
  color: #FFF;
  font-weight: 300;
  line-height: 32px;
  max-width: 489px;
}
/* line 263, ../sass/home.scss */
.hero .hero-content .btn-rounded {
  width: 208px;
  height: 48px;
  line-height: 2.2;
  background: #233647;
}
@media (max-width: 960px) {
  /* line 239, ../sass/home.scss */
  .hero .hero-content {
    margin-top: 110px;
  }
  /* line 273, ../sass/home.scss */
  .hero .hero-content p {
    max-width: none;
  }
  /* line 277, ../sass/home.scss */
  .hero .hero-content .theCTA {
    text-align: center;
  }
  /* line 280, ../sass/home.scss */
  .hero .hero-content .theCTA .btn {
    padding-left: 54px;
    padding-right: 54px;
    width: auto;
    z-index: 10;
    position: relative;
  }
  /* line 289, ../sass/home.scss */
  .hero .hero-content h1 {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: -1.43px;
    line-height: 47px;
  }
  /* line 296, ../sass/home.scss */
  .hero .hero-content .illustration {
    position: absolute;
    bottom: 24px;
    z-index: 0;
    text-align: center;
    left: 0;
  }
  /* line 303, ../sass/home.scss */
  .hero .hero-content .illustration img {
    width: 100%;
    max-width: 500px;
  }
}
@media (max-width: 320px) {
  /* line 311, ../sass/home.scss */
  .hero .hero-content h1 {
    font-size: 32px;
    font-weight: 200;
    letter-spacing: -1.43px;
    line-height: 47px;
  }
}
/* line 320, ../sass/home.scss */
.hero .chevron-down {
  bottom: 24px;
  position: absolute;
  left: 50%;
  margin-left: -24px;
}
/* line 326, ../sass/home.scss */
.hero .chevron-down > a {
  padding: 24px;
  display: inline-block;
}
@media (max-width: 1140px) {
  /* line 230, ../sass/home.scss */
  .hero {
    height: auto;
    padding-bottom: 48px;
  }
  /* line 337, ../sass/home.scss */
  .hero .illustration img {
    width: 100%;
    margin-top: 31%;
  }
}

/* line 346, ../sass/home.scss */
.content {
  border-top: solid 8px #1CC9A7;
  padding-top: 0;
}

/* line 352, ../sass/home.scss */
header.title {
  margin-top: 80px;
  margin-bottom: 48px;
}
/* line 356, ../sass/home.scss */
header.title p.sub {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  text-transform: uppercase;
  color: #1CC9A7;
}
/* line 364, ../sass/home.scss */
header.title h2 {
  font-size: 48px;
  font-weight: 200;
  letter-spacing: -1.71px;
  line-height: 56px;
  color: #233647;
}
/* line 372, ../sass/home.scss */
header.title h3 {
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  color: #233647;
  margin-bottom: 16px;
}
/* line 380, ../sass/home.scss */
header.title p {
  font-size: 18px;
  line-height: 32px;
  max-width: 770px;
  margin: inherit auto;
  display: inline-block;
}
@media (max-width: 960px) {
  /* line 389, ../sass/home.scss */
  header.title h2 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1.14px;
    line-height: 40px;
  }
  /* line 396, ../sass/home.scss */
  header.title h3 {
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
  }
  /* line 403, ../sass/home.scss */
  header.title p {
    font-size: 16px;
    line-height: 24px;
  }
}

/* line 411, ../sass/home.scss */
.howWorks-list {
  margin-bottom: 64px !important;
}
/* line 415, ../sass/home.scss */
.howWorks-list .carousel-cell {
  position: relative;
}
/* line 418, ../sass/home.scss */
.howWorks-list .carousel-cell:before {
  content: ' ';
  width: 128px;
  height: 8px;
  position: absolute;
  left: -76px;
  top: 100px;
  background: url("../img/dots.svg") no-repeat;
}
/* line 428, ../sass/home.scss */
.howWorks-list .carousel-cell:first-child:before {
  display: none;
}
/* line 432, ../sass/home.scss */
.howWorks-list .carousel-cell:last-child:before {
  left: -46px;
}
/* line 436, ../sass/home.scss */
.howWorks-list .carousel-cell h4 {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #233647;
}
/* line 443, ../sass/home.scss */
.howWorks-list .carousel-cell img {
  margin: 0 auto;
  display: block;
}
/* line 448, ../sass/home.scss */
.howWorks-list .carousel-cell .imgContainer {
  height: 224px;
  margin-bottom: 16px;
}
@media (min-width: 960px) {
  /* line 455, ../sass/home.scss */
  .howWorks-list .carousel-cell {
    width: 33%;
    padding: 0 16px;
  }
}
@media (max-width: 960px) {
  /* line 462, ../sass/home.scss */
  .howWorks-list .carousel-cell {
    width: 33%;
    padding: 0 16px;
  }
  /* line 466, ../sass/home.scss */
  .howWorks-list .carousel-cell:before {
    display: none;
  }
}
@media (max-width: 540px) {
  /* line 471, ../sass/home.scss */
  .howWorks-list .carousel-cell {
    width: 100%;
  }
  /* line 474, ../sass/home.scss */
  .howWorks-list .carousel-cell:before {
    display: block;
  }
}

/* line 480, ../sass/home.scss */
.fullControl {
  background-image: -webkit-linear-gradient(left, #F4F6F7 59%, #D6DDE1 59%);
  background-image: -o-linear-gradient(left, #F4F6F7 59%, #D6DDE1 59%);
  background-image: linear-gradient(to right, #F4F6F7 59%, #D6DDE1 59%);
  height: 496px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 490, ../sass/home.scss */
.fullControl > div {
  flex: 1;
}
/* line 494, ../sass/home.scss */
.fullControl .illustration img {
  margin-left: -60px;
}
/* line 498, ../sass/home.scss */
.fullControl header.title p {
  max-width: 569px;
  font-size: 16px;
}
/* line 503, ../sass/home.scss */
.fullControl .control-list {
  display: flex;
}
/* line 506, ../sass/home.scss */
.fullControl .control-list li {
  flex: 1;
  font-size: 14px;
}
/* line 510, ../sass/home.scss */
.fullControl .control-list li .ico {
  margin-bottom: 12px;
}
@media (max-width: 960px) {
  /* line 480, ../sass/home.scss */
  .fullControl {
    height: auto;
    background: #F4F6F7;
    text-align: center;
    margin-top: 46px;
  }
  /* line 522, ../sass/home.scss */
  .fullControl .row.d-flex {
    flex-direction: column-reverse;
  }
  /* line 526, ../sass/home.scss */
  .fullControl .illustration {
    margin-top: -65px;
    margin-bottom: -16px;
  }
  /* line 530, ../sass/home.scss */
  .fullControl .illustration img {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
  }
  /* line 538, ../sass/home.scss */
  .fullControl .control-list {
    display: flex;
  }
  /* line 541, ../sass/home.scss */
  .fullControl .control-list li {
    flex: 1;
    display: inline-block;
    text-align: center;
    margin-bottom: 32px;
  }
}
@media (max-width: 720px) {
  /* line 551, ../sass/home.scss */
  .fullControl .control-list {
    display: block;
  }
  /* line 554, ../sass/home.scss */
  .fullControl .control-list li {
    width: 48%;
    display: inline-block;
    text-align: center;
    margin-bottom: 32px;
  }
}

/* line 567, ../sass/home.scss */
.aboutUs .photos {
  margin-bottom: 48px;
}
/* line 570, ../sass/home.scss */
.aboutUs .photos .carousel-cell {
  width: 45%;
}
/* line 573, ../sass/home.scss */
.aboutUs .photos .carousel-cell img {
  width: 100%;
}
/* line 579, ../sass/home.scss */
.aboutUs h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  color: #233647;
}
@media (min-width: 960px) {
  /* line 589, ../sass/home.scss */
  .aboutUs .photos .carousel-cell {
    width: 20%;
  }
}
@media (max-width: 960px) {
  /* line 597, ../sass/home.scss */
  .aboutUs .photos .carousel-cell {
    width: 20%;
  }
}
@media (max-width: 540px) {
  /* line 605, ../sass/home.scss */
  .aboutUs .photos .carousel-cell {
    width: 45%;
  }
}

/* line 617, ../sass/home.scss */
.testimonials .testimonials-list .carousel-cell img {
  display: block;
  margin: 0 auto 24px;
}
/* line 622, ../sass/home.scss */
.testimonials .testimonials-list .carousel-cell h4 {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: #233647;
}
/* line 629, ../sass/home.scss */
.testimonials .testimonials-list .carousel-cell .from {
  font-size: 14px;
  line-height: 16px;
  color: #F28367;
}
/* line 635, ../sass/home.scss */
.testimonials .testimonials-list .carousel-cell p {
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 960px) {
  /* line 642, ../sass/home.scss */
  .testimonials .testimonials-list .carousel-cell {
    width: 33%;
    padding: 0 16px;
  }
  /* line 647, ../sass/home.scss */
  .testimonials .testimonials-list .flickity-page-dots {
    display: none;
  }
}
@media (max-width: 960px) {
  /* line 651, ../sass/home.scss */
  .testimonials .testimonials-list .carousel-cell {
    width: 33%;
    padding: 0 16px;
  }
  /* line 655, ../sass/home.scss */
  .testimonials .testimonials-list .flickity-page-dots {
    display: none;
  }
}
@media (max-width: 540px) {
  /* line 659, ../sass/home.scss */
  .testimonials .testimonials-list .carousel-cell {
    width: 100%;
  }
  /* line 662, ../sass/home.scss */
  .testimonials .testimonials-list .flickity-page-dots {
    display: block;
  }
}

/* line 668, ../sass/home.scss */
.download {
  background-color: #F4F6F7;
  height: 496px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 92px !important;
}
/* line 676, ../sass/home.scss */
.download .phone-img {
  margin: 40px 0 0 -150px;
}
/* line 680, ../sass/home.scss */
.download header.title p {
  font-size: 16px;
}
/* line 683, ../sass/home.scss */
.download header.title p strong {
  font-weight: 600;
  color: #233647;
}
@media (max-width: 960px) {
  /* line 668, ../sass/home.scss */
  .download {
    text-align: center;
    height: auto;
  }
  /* line 690, ../sass/home.scss */
  .download .phone-div {
    margin-top: -160px;
  }
  /* line 694, ../sass/home.scss */
  .download .phone-img {
    width: 100%;
    margin: -65px 0 0 0;
    max-width: 500px;
  }
  /* line 701, ../sass/home.scss */
  .download .title {
    margin-top: -24px;
  }
}
@media (max-width: 1140px) {
  /* line 707, ../sass/home.scss */
  .download .phone-img {
    max-width: 600px;
    margin-top: 130px;
  }
}

/* line 715, ../sass/home.scss */
.contact-bottom {
  color: #fff;
  padding: 48px 0;
}
/* line 720, ../sass/home.scss */
.contact-bottom header.blue p {
  font-size: 16px;
  line-height: 32px;
  max-width: 568px;
}
/* line 726, ../sass/home.scss */
.contact-bottom header.blue p.sub {
  opacity: 0.7;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}
/* line 733, ../sass/home.scss */
.contact-bottom header.blue h2 {
  font-size: 48px;
  font-weight: 200;
  letter-spacing: -1.71px;
  line-height: 56px;
}
/* line 741, ../sass/home.scss */
.contact-bottom .contact-div {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
/* line 746, ../sass/home.scss */
.contact-bottom .contact-div .btn-rounded {
  font-size: 16px;
  font-weight: 700;
  line-height: 2.4;
  text-align: center;
  background: #1CC9A7;
  width: 291px;
  height: 48px;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.06);
}
/* line 758, ../sass/home.scss */
.contact-bottom .contact-div .btn-rounded:hover {
  background: #F28367;
}
/* line 762, ../sass/home.scss */
.contact-bottom .contact-div .btn-rounded:active {
  background: #F28367;
}
/* line 769, ../sass/home.scss */
.contact-bottom p small {
  font-size: 10px;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  /* line 777, ../sass/home.scss */
  .contact-bottom header.blue h2 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1.14px;
    line-height: 37px;
  }
  /* line 784, ../sass/home.scss */
  .contact-bottom header.blue p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
  }
  /* line 789, ../sass/home.scss */
  .contact-bottom .contact-div {
    margin: 0 !important;
  }
}

/* line 796, ../sass/home.scss */
section.footer {
  background: #233647;
  color: #FFF;
  height: 96px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
/* line 804, ../sass/home.scss */
section.footer .container, section.footer .row {
  height: 100%;
}
/* line 808, ../sass/home.scss */
section.footer .logo-footer {
  display: inline-block;
  margin-top: -20px;
  margin-right: 24px;
}
/* line 814, ../sass/home.scss */
section.footer address {
  display: inline-block;
  padding-top: 38px;
}
/* line 819, ../sass/home.scss */
section.footer .socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 824, ../sass/home.scss */
section.footer .socialIcons > div {
  flex: 1;
}
@media (max-width: 960px) {
  /* line 796, ../sass/home.scss */
  section.footer {
    text-align: center;
    height: auto;
    padding-bottom: 32px;
  }
  /* line 834, ../sass/home.scss */
  section.footer .logo-footer {
    margin-top: 32px;
  }
  /* line 838, ../sass/home.scss */
  section.footer address {
    display: block;
    text-align: center;
    padding-top: 16px;
    font-weight: 200;
  }
  /* line 845, ../sass/home.scss */
  section.footer .socialIcons {
    margin-top: 24px;
  }
}

/* line 1, ../sass/internal.scss */
.hero.internal {
  height: 360px !important;
  min-height: 300px;
  max-height: 360px;
}
/* line 7, ../sass/internal.scss */
.hero.internal .hero-content {
  margin-top: -12px;
}
/* line 10, ../sass/internal.scss */
.hero.internal .hero-content h1 {
  margin-bottom: 8px;
}
/* line 14, ../sass/internal.scss */
.hero.internal .hero-content p {
  font-size: 26px;
  font-weight: 200;
  letter-spacing: -1px;
  line-height: 33px;
  max-width: 668px;
  opacity: 0.85;
}
@media (max-width: 960px) {
  /* line 1, ../sass/internal.scss */
  .hero.internal {
    height: auto !important;
    margin-top: 120px;
    max-height: none;
    min-height: 0;
    text-align: center;
    padding-bottom: 0;
  }
  /* line 33, ../sass/internal.scss */
  .hero.internal .hero-content .illustration {
    position: static;
    text-align: center;
  }
  /* line 37, ../sass/internal.scss */
  .hero.internal .hero-content .illustration img {
    width: 120px;
    margin-bottom: -60px;
    display: inline-block;
  }
  /* line 42, ../sass/internal.scss */
  .hero.internal .hero-content .illustration img.forbusiness {
    width: 120px;
    margin-top: 14px;
  }
  /* line 47, ../sass/internal.scss */
  .hero.internal .hero-content .illustration img.gogetter {
    width: 200px;
    margin-top: 24px;
  }
  /* line 52, ../sass/internal.scss */
  .hero.internal .hero-content .illustration img.pricing {
    width: 300px;
    margin-top: -125px;
  }
  /* line 59, ../sass/internal.scss */
  .hero.internal .hero-content p {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -0.3px;
    line-height: 30px;
    max-width: none;
    opacity: 0.85;
  }
}

@media (max-width: 960px) {
  /* line 77, ../sass/internal.scss */
  .content.internal .firstPart .btn-big {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }
}

/* line 91, ../sass/internal.scss */
.internal header.title h2 {
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: normal;
}
/* line 98, ../sass/internal.scss */
.internal header.title p {
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 32px;
}
/* line 107, ../sass/internal.scss */
.internal .fetch-list .list-item .item-img {
  margin-bottom: 24px;
}
/* line 111, ../sass/internal.scss */
.internal .fetch-list .list-item h3 {
  font-size: 28px;
  font-weight: 300;
  line-height: 33px;
  color: #233647;
  margin-bottom: 8px;
}
/* line 119, ../sass/internal.scss */
.internal .fetch-list .list-item p {
  font-size: 14px;
  letter-spacing: -0.3px;
  line-height: 24px;
}
@media (max-width: 960px) {
  /* line 129, ../sass/internal.scss */
  .internal header.title h2 {
    font-size: 28px;
    line-height: 36px;
  }
  /* line 136, ../sass/internal.scss */
  .internal .fetch-list .list-item {
    width: 48%;
    flex-basis: auto;
  }
  /* line 140, ../sass/internal.scss */
  .internal .fetch-list .list-item h3 {
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
  }
}

/* line 151, ../sass/internal.scss */
.faq {
  padding-bottom: 72px;
  overflow: hidden;
}
/* line 155, ../sass/internal.scss */
.faq h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #233647;
}
/* line 162, ../sass/internal.scss */
.faq p {
  font-size: 14px;
  line-height: 24px;
}
@media (max-width: 960px) {
  /* line 168, ../sass/internal.scss */
  .faq .faq-item {
    width: 100%;
    flex-basis: 100% !important;
    margin-bottom: 32px;
  }
}
@media (max-width: 1140px) {
  /* line 176, ../sass/internal.scss */
  .faq .faq-item {
    flex-basis: 50%;
    margin-bottom: 32px;
  }
}

/* line 185, ../sass/internal.scss */
.internal.contact-bottom header.blue p {
  max-width: none;
}
/* line 188, ../sass/internal.scss */
.internal.contact-bottom header.blue p.sub {
  margin-bottom: 0;
}

/* line 192, ../sass/internal.scss */
input:-webkit-autofill, textarea:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 100px #32B2E1 inset;
}

/* line 197, ../sass/internal.scss */
input:focus:-webkit-autofill, textarea:focus:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 100px #32B2E1 inset;
}

/* line 203, ../sass/internal.scss */
.form-group {
  position: relative;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.4);
  height: 52px;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 3px;
}
/* line 212, ../sass/internal.scss */
.form-group + .form-group {
  margin-top: 16px;
}
/* line 216, ../sass/internal.scss */
.form-group.focused {
  border-color: #FFF;
}
/* line 220, ../sass/internal.scss */
.form-group.auto {
  height: auto;
}

/* line 225, ../sass/internal.scss */
.form-label {
  position: absolute;
  left: 16px;
  top: 14px;
  color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

/* line 235, ../sass/internal.scss */
.focused .form-label {
  transform: translateY(-44%);
  font-size: 11px;
}

/* line 240, ../sass/internal.scss */
.form-input {
  position: relative;
  padding: 15px 0px 0px 0px;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 transparent;
  transition: box-shadow 150ms ease-out;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #FFF;
}
/* line 255, ../sass/internal.scss */
.form-input:focus {
  box-shadow: none;
}

@media (max-width: 540px) {
  /* line 266, ../sass/internal.scss */
  .contact-div .text-left, .contact-div .text-right {
    text-align: center !important;
    flex-basis: auto;
  }
  /* line 271, ../sass/internal.scss */
  .contact-div .btn-rounded {
    width: 100% !important;
  }
}
