@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700');

html {
  height: 100%;
}

body {
  background: linear-gradient(90deg, #29C0DA 0%, #38A9E5 100%);
  font-family: 'Raleway', sans-serif;
  color: $paragraph;
  height: 100%;
  overflow-x: hidden;
}

.content {
  background: #fff !important;
  padding: 20px 40px;
  box-sizing: content-box;
  max-width: 1280px;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0 !important;
  border-radius: 4px;
}

// btn
.btn {
  border:none;

  &:active {
    border:none;
  }

  &.btn-primary {
    background-color: $light-green;
    padding-left: 30px;
    padding-right: 30px;
    height: 48px;
    line-height: 2.4;
    font-weight: 600;

    &:hover {
      background: $light-red;
    }
  }

  &.btn-big {
    height: 56px;
    padding-left: 60px;
    padding-right: 60px;
    line-height: 3;
  }
}
.btn-rounded {
  border-radius: 28px;
  border:none;
}

// nav
nav.navbar {
  padding: 0;
  margin: 32px auto 80px;
  height: 67px;
  box-sizing: content-box;

  .nav-link {
    font-size: 14px;
    color: rgba(255,255,255,1) !important;
    letter-spacing: -0.3px;
  }

  .nav-item {
    margin-left: 24px;
    border-bottom: solid 2px rgba(255,255,255,0);
    transition: all 0.3s;

    &.active {
      border-bottom: solid 2px #85CAFF;
    }
    &:hover {
      border-bottom: solid 2px $light-red;
      transition: all 0.3s;
    }
    &.no-border {
      border:none !important;
    }
  }

  .button-download {
  	height: 40px;
  	border-radius: 28px;
  	background-color: $light-green;
  	box-shadow: 0 15px 10px 0 rgba(0,0,0,0.06);
    line-height: 2.1;
    width: 172px;
    text-align: center;
    margin-top: -3px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.3px;

    &:hover {
      background: $light-red;
    }
    &:active {
      box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06);
    }
  }


  &.navbar-sticky {
    position: fixed;
    top:-300px;
    // top:0;
    transition: all 0.5s ease;
    left:0;
    width: 100%;
    background: $dark-blue;
    z-index: 999;
    display: flex;
    margin:0;
    padding:0 48px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    opacity: 0;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);

    .navbar-brand img {
      width: 100px;
    }

    .navbar-nav {
      margin-top: 3px;
    }

    @media (max-width: $lg) {
      .navbar-toggler {
        left: 16px;
      }
    }
  }

  &.navbar-sticky.navbar-show {
    position: fixed;
    display: flex;
    top:0;
    transition: all 0.5s ease;
    opacity: 1;
  }

  @media (max-width: $lg) {
    display: none;
    margin-bottom: 32px;
    margin-top: 8px;
    position: relative;

    &.navbar.navbar-sticky {
      top: 0;
      opacity: 1;
      background: rgba(0,0,0,0);
      box-shadow: 0 0 0 rgba(0,0,0,0);

      &.navbar-show {
        background: #233647;
        position:fixed;
        top: 0;
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
      }

      .navbar-collapse {
        background: #233647;
        width: 100%;
        position: absolute;
        top: 67px;
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
        padding-bottom: 24px;

        .nav-item {
          margin: 8px 24px;
        }

        .button-download {
          width: 100%;
          font-size: 13px !important;
        }

        .nav-link {
          font-size: 16px;;
        }
      }
    }

    .navbar-brand {
      margin:0 auto;
      width: 100%;
      text-align: center;
    }

    .navbar-brand img {
      width: 100px;
    }

    .navbar-toggler {
      position: absolute;
    }
  }

  @media (max-width: $xl) {
    .navbar-brand img {
      width: 120px;
    }

    .nav-link {
      padding-left:0 !important;
    }

    a.button-download {
      padding-left: 16px !important;
      padding-right: 16px !important;
      width: auto;
    }
  }
}

// hero
.hero {
  height: 100%;
  min-height: 600px;
  position: relative;

  @media (min-width: $xl) {
    max-height: 800px;
  }

  .hero-content {
    margin-top: 24px;

    @media (min-width: $fhd) {
      margin-top: 4%;
    }

    h1 {
      color: #FFFFFF;
      font-size: 62px;
      font-weight: 200;
      letter-spacing: -2.21px;
      line-height: 73px;
      margin-bottom: 24px;
    }

    p {
      font-size: 16px;
      color: #FFF;
      font-weight: 300;
      line-height: 32px;
      max-width: 489px;
    }

    .btn-rounded {
      width: 208px;
      height: 48px;
      line-height: 2.2;
      background: $dark-blue;
    }

    @media (max-width: $lg) {
      margin-top: 110px;

      p {
        max-width: none;
      }

      .theCTA {
        text-align: center;

        .btn {
          padding-left: 54px;
          padding-right:54px;
          width: auto;
          z-index: 10;
          position: relative;
        }
      }

      h1 {
        font-size: 40px;
        font-weight: 200;
        letter-spacing: -1.43px;
        line-height: 47px;
      }

      .illustration {
        position: absolute;
        bottom: 24px;
        z-index: 0;
        text-align: center;
        left: 0;

        img {
          width: 100%;
          max-width: 500px;
        }
      }
    }

    @media (max-width: $xs) {
      h1 {
        font-size: 32px;
        font-weight: 200;
        letter-spacing: -1.43px;
        line-height: 47px;
      }
    }
  }

  .chevron-down {
    bottom: 24px;
    position: absolute;
    left: 50%;
    margin-left: -24px;

    &>a {
      padding:24px;
      display: inline-block;
    }
  }

  @media (max-width: $xl) {
    height: auto;
    padding-bottom: 48px;

    .illustration {
      img {
        width: 100%;
        margin-top: 31%;
      }
    }
  }
}

// content
.content {
  border-top: solid 8px $light-green;
  padding-top: 0;
}

// header
header.title {
  margin-top: 80px;
  margin-bottom: 48px;

  p.sub {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 16px !important;
    text-transform: uppercase;
    color: $light-green;
  }

  h2 {
    font-size: 48px;
    font-weight: 200;
    letter-spacing: -1.71px;
    line-height: 56px;
    color: $dark-blue;
  }

  h3 {
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    color: $dark-blue;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
    line-height: 32px;
    max-width: 770px;
    margin: inherit auto;
    display: inline-block;
  }

  @media (max-width: $lg) {
    h2 {
      font-size: 32px;
      font-weight: 300;
      letter-spacing: -1.14px;
      line-height: 40px;
    }

    h3 {
      font-size: 32px;
      font-weight: 300;
      line-height: 40px;
      text-align: center;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

// how it works
.howWorks-list{
  // justify-content: space-between;
  margin-bottom: 64px !important;

  .carousel-cell {
    position: relative;

    &:before {
      content: ' ';
      width: 128px;
      height: 8px;
      position: absolute;
      left: -76px;
      top:100px;
      background: url('../img/dots.svg') no-repeat;
    }

    &:first-child:before {
      display: none;
    }

    &:last-child:before {
      left: -46px;
    }

    h4 {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: $dark-blue;
    }

    img {
      margin: 0 auto;
      display: block;
    }

    .imgContainer {
      height: 224px;
      margin-bottom: 16px;
    }
  }

  @media (min-width: $lg) {
      .carousel-cell {
        width: 33%;
        padding: 0 16px;
      }
  }

  @media (max-width: $lg) {
      .carousel-cell {
        width: 33%;
        padding: 0 16px;

        &:before { display: none; }
      }
  }

  @media (max-width: $sm) {
      .carousel-cell {
        width: 100%;

        &:before { display: block; }
      }
  }
}

// full Control
.fullControl {
  background-image: -webkit-linear-gradient(left, #F4F6F7 59%, #D6DDE1 59%);
  background-image: -o-linear-gradient(left, #F4F6F7 59%, #D6DDE1 59%);
  background-image: linear-gradient(to right, #F4F6F7 59%, #D6DDE1 59%);
  height: 496px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  >div {
    flex: 1;
  }

  .illustration img {
    margin-left: -60px;
  }

  header.title p {
    max-width: 569px;
    font-size: 16px;
  }

  .control-list {
    display: flex;

    li {
      flex: 1;
      font-size: 14px;

      .ico {
        margin-bottom: 12px;
      }
    }
  }

  @media (max-width: $lg) {
    height: auto;
    background: #F4F6F7;
    text-align: center;
    margin-top: 46px;

    .row.d-flex {
      flex-direction: column-reverse;
    }

    .illustration {
      margin-top: -65px;
      margin-bottom: -16px;

      img {
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
      }
    }


    .control-list {
      display: flex;

      li {
        flex:1;
        display: inline-block;
        text-align: center;
        margin-bottom: 32px;
      }
    }
  }

  @media (max-width: $md) {
    .control-list {
      display: block;

      li {
        width: 48%;
        display: inline-block;
        text-align: center;
        margin-bottom: 32px;
      }
    }
  }
}

// about us
.aboutUs {

  .photos {
    margin-bottom: 48px;

    .carousel-cell {
      width: 45%;

      img {
        width: 100%;
      }
    }
  }

  h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    color: $dark-blue;
  }

  @media (min-width: $lg) {
    .photos {
      .carousel-cell {
        width: 20%;
      }
    }
  }

  @media (max-width: $lg) {
    .photos {
      .carousel-cell {
        width: 20%;
      }
    }
  }

  @media (max-width: $sm) {
    .photos {
      .carousel-cell {
        width: 45%;
      }
    }
  }
}

// testimonials
.testimonials {
  .testimonials-list {

    .carousel-cell{
      img {
        display: block;
        margin:0 auto 24px;
      }

      h4 {
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        color: $dark-blue;
      }

      .from {
        font-size: 14px;
        line-height: 16px;
        color: $light-red;
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }
    }

    @media (min-width: $lg) {
        .carousel-cell {
          width: 33%;
          padding: 0 16px;
        }

        .flickity-page-dots { display: none; }
    }

    @media (max-width: $lg) {
        .carousel-cell {
          width: 33%;
          padding: 0 16px;
        }
        .flickity-page-dots { display: none; }
    }

    @media (max-width: $sm) {
        .carousel-cell {
          width: 100%;
        }
        .flickity-page-dots { display: block; }
    }
  }
}

// Download
.download {
  background-color: #F4F6F7;
  height: 496px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 92px !important;

  .phone-img {
    margin: 40px 0 0 -150px;
  }

  header.title p {
    font-size: 16px;

    strong { font-weight: 600; color: $dark-blue; }
  }

  @media (max-width: $lg) {
    text-align: center;
    height: auto;

    .phone-div {
      margin-top: -160px;
    }

    .phone-img {
      width: 100%;
      margin:-65px 0 0 0;

      max-width: 500px;
    }

    .title {
      margin-top:-24px;
    }
  }

  @media (max-width: $xl) {
    .phone-img {
      max-width: 600px;
      margin-top: 130px;
    }
  }
}

// contact
.contact-bottom {
  color: #fff;
  padding:48px 0;

  header.blue {
    p {
      font-size: 16px;
      line-height: 32px;
      max-width: 568px;
    }

    p.sub {
      opacity: 0.7;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    h2 {
      font-size: 48px;
      font-weight: 200;
      letter-spacing: -1.71px;
      line-height: 56px;
    }
  }

  .contact-div {
    margin:0 auto;
    align-items: center;
    justify-content: center;

    .btn-rounded {
      font-size: 16px;
      font-weight: 700;
      line-height: 2.4;
      text-align: center;
      background: $light-green;
      width: 291px;
      height: 48px;
      border:none;
      text-transform: uppercase;
      box-shadow: 0 15px 10px 0 rgba(0,0,0,0.06);

      &:hover {
        background: $light-red;
      }

      &:active {
        background: $light-red;
      }
    }
  }

  p {
    small {
      font-size: 10px;
      text-transform: uppercase;
    }
  }

  @media (max-width: $lg) {
    header.blue {
      h2 {
        	font-size: 32px;
          font-weight: 300;
          letter-spacing: -1.14px;
          line-height: 37px;
      }

      p {
        font-size: 16px;	line-height: 24px; font-weight: 200;
      }
    }

    .contact-div {
      margin:0 !important;
    }
  }
}

// footer
section.footer {
  background: $dark-blue;
  color: #FFF;
  height: 96px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;

  .container,.row {
    height: 100%;
  }

   .logo-footer {
     display: inline-block;
     margin-top: -20px;
     margin-right: 24px;
  }

  address {
    display: inline-block;
    padding-top: 38px;
  }

  .socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
      flex: 1;
    }
  }

  @media (max-width: $lg) {
    text-align: center;
    height: auto;
    padding-bottom: 32px;

    .logo-footer {
      margin-top: 32px;
    }

    address {
      display: block;
      text-align: center;
      padding-top: 16px;
      font-weight: 200;
    }

    .socialIcons {
      margin-top: 24px;
    }
  }
}
