.hero.internal {

  height: 360px !important;
  min-height: 300px;
  max-height: 360px;

  .hero-content {
    margin-top: -12px;

    h1 {
      margin-bottom: 8px;
    }

    p {
      font-size: 26px;
      font-weight: 200;
      letter-spacing: -1px;
      line-height: 33px;
      max-width: 668px;
      opacity: 0.85;
    }
  }

  @media (max-width: $lg) {
    height: auto !important;
    margin-top: 120px;
    max-height: none;
    min-height: 0;
    text-align: center;
    padding-bottom: 0;

    .hero-content {
      .illustration {
        position: static;
        text-align: center;

        img {
          width: 120px;
          margin-bottom: -60px;
          display: inline-block;

          &.forbusiness {
            width: 120px;
            margin-top: 14px;
          }

          &.gogetter {
            width: 200px;
            margin-top: 24px;
          }

          &.pricing {
            width: 300px;
            margin-top: -125px;
          }
        }
      }

      p {
        font-size: 20px;
        font-weight: 200;
        letter-spacing: -0.3px;
        line-height: 30px;
        max-width: none;
        opacity: 0.85;
      }
    }
  }
}

.content.internal {

  @media (max-width: $lg) {
    // margin-top: -110px;

    .firstPart {
      .btn-big {
        width: auto;
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
      }
    }
  }
}


.internal {

  header.title {
    h2 {
      font-size: 34px;
      font-weight: 300;
      line-height: 40px;
      letter-spacing: normal;
    }

    p {
      font-size: 16px;
      letter-spacing: -0.1px;
      line-height: 32px;
    }
  }

  .fetch-list {
    .list-item {
      .item-img {
        margin-bottom: 24px;
      }

      h3 {
        font-size: 28px;
        font-weight: 300;
        line-height: 33px;
        color: $dark-blue;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        letter-spacing: -0.3px;
        line-height: 24px;
      }
    }
  }

  @media (max-width: $lg) {
    header.title {
      h2 {
        font-size: 28px;
        line-height: 36px;
      }
    }

    .fetch-list {
      .list-item {
        width: 48%;
        flex-basis: auto;

        h3 {
          font-size: 22px;
          font-weight: 300;
          line-height: 24px;
        }
      }
    }
  }
}

// faq
.faq {
  padding-bottom: 72px;
  overflow: hidden;

  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: $dark-blue;
  }

  p {
    font-size: 14px;
    line-height: 24px;
  }

  @media (max-width: $lg) {
    .faq-item {
      width: 100%;
      flex-basis: 100% !important;
      margin-bottom: 32px;
    }
  }

  @media (max-width: $xl) {
    .faq-item {
      flex-basis: 50%;
      margin-bottom: 32px;
    }
  }
}


// form
.internal.contact-bottom header.blue p {
  max-width: none;

  &.sub {
    margin-bottom: 0;
  }
}
input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 100px #32B2E1 inset;
}

input:focus:-webkit-autofill, textarea:focus:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 100px #32B2E1 inset;
}


.form-group {
  position:relative;
  background: none;
  border: 2px solid rgba(255,255,255,0.4);
  height: 52px;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 3px;

  & + .form-group {
    margin-top: 16px;
  }

  &.focused {
    border-color: #FFF;
  }

  &.auto {
    height: auto;
  }
}

.form-label {
  position: absolute;
  left: 16px;
  top: 14px;
  color: rgba(255,255,255,0.8);
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;

}

.focused .form-label {
  transform: translateY(-44%);
  font-size: 11px;
}

.form-input {
  position: relative;
  padding: 15px 0px 0px 0px;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 transparent;
  transition: box-shadow 150ms ease-out;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #FFF;


  &:focus {
    box-shadow: none;
  }
}

.form-input.filled {
  // box-shadow: 0 2px 0 0 lightgreen;
}

@media (max-width: $sm) {
  .contact-div {
    .text-left, .text-right {
      text-align: center !important;
      flex-basis: auto;
    }

    .btn-rounded { width: 100% !important; }
  }
}
