/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// variables
$dark-blue: #233647;
$ocean-blue: #3066BE;
$sky-blue: #2594E8;
$light-green: #1CC9A7;
$grey: #D4D8DB;
$light-grey: #DAE1E5;
$light-red: #F28367;
$paragraph: #666666;

// responsive breakpoints
$xs: 320px;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$fhd: 1800px;

// links
a.trace {
  color: $sky-blue;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;

  &:before {
    content: "— ";
  }

  &:hover {
    text-decoration: none;
    color: $light-red;
  }
}

@import "home.scss";
@import "internal.scss"
