<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xs-12 col-md-12 phone-div">
      <img src="img/phone@2x.png" class="phone-img" width="705" alt="">
    </div>
    <div class="col-lg-6 col-xs-12 col-md-12">
      <header class="title">
        <br>
        <p class="sub">For Android and iOS</p>
        <h2>Download the app now!</h2>
        <p>Download our Gogetter Drivers today and follow the step by step On Boarding process and start working for yourself on the Fetch network.<br><strong>All you earn you keep!</strong></p>

        <p class="mt-3">
          <a href="#"><img src="img/itunes@2x.png" width="142" alt=""></a>
          &nbsp;&nbsp;&nbsp;
          <a href="#"><img src="img/googleplay@2x.png" width="143" alt=""></a>
        </p>
      </header>
    </div>
  </div>
</div>
