<div class="container">
  <div class="row">
    <div class="col-lg-9 col-xs-12">
      <a href="index.html#goTop"><img src="img/footer/logo@2x.png" class="logo-footer" width="101" alt=""></a>
      <address>© 2018, Gogetfetch Ltd. <br>Unit 1-3 Ballymun industrial estate - Dublin 11 D11CVY6</address>
    </div>

    <div class="col-lg-3 col-xs-12 socialIcons">
      <div><img src="img/footer/fb@2x.png" width="16" alt=""></div>
      <div><img src="img/footer/twitter@2x.png" width="27" alt=""></div>
      <div><img src="img/footer/insta@2x.png" width="26" alt=""></div>
    </div>
  </div>
</div>
