<nav class="navbar navbar-expand-lg navbar-dark">
  <a href="index.html#goTop" class="navbar-brand"><img src="img/logo.svg" alt="Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html#howItWorks">How it works <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html#aboutUs">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="forbusiness.html">For business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="drivers.html">GoGetter Drivers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pricing.html">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li class="nav-item no-border">
        <a class="nav-link btn button-download" href="#downloadApp">DOWNLOAD THE APP</a>
      </li>
    </ul>
  </div>
</nav>


<nav class="navbar navbar-sticky navbar-expand-lg navbar-dark" id="fetchNavbar">
  <a href="index.html#goTop" class="navbar-brand"><img src="img/logo.svg" alt="Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html#howItWorks">How it works <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html#aboutUs">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="forbusiness.html">For business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="drivers.html">GoGetter Drivers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pricing.html">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li class="nav-item no-border">
        <a class="nav-link btn button-download" href="#downloadApp">DOWNLOAD THE APP</a>
      </li>
    </ul>
  </div>
</nav>
